<ul class="list-group">
  <li class="list-group-item card card-cascade">
    <input class="form-control w-100" type="text" (input)="searchEmail($event.target.value)" placeholder="Search for twitter" aria-label="Search" mdbActive>
  </li>
  <li *ngFor="let twitter of twitters" class="list-group-item card card-cascade">
    <div class="card-title text-left">
      <span>{{twitter.email}}</span>
      <br/>
      <div class="text-right">
        <button [disabled]="checkTwitterId(twitter.id)" (click)="follow(twitter.id)" class="btn btn-sm btn-info" mdbRippleRadius>follow</button>
      </div>
    </div>
  </li>
</ul>
