<div class="row card card-cascade">

  <!--Card image-->
  <div class="hm-white-slight text-center">
    <img src="/assets/img/avatar-{{(twitter.id % 7) + 1}}.png" class="img-fluid img-responsive" alt="">
  </div>
  <!--/.Card image-->

  <!--Card content-->
  <div class="card-body text-center">
    <!--Title-->
    <h4 class="card-title"><strong>{{twitter.name}}</strong></h4>
    <h5>{{twitter.email}}</h5>
    <hr/>
    <p class="card-text">Tweets:{{tweets}}</p>
  </div>
  <!--/.Card content-->

</div>
