<main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <div class="container-fluid">
          <app-profile></app-profile>
          <br/>
          <app-followers></app-followers>
        </div>
      </div>

      <div class="col-md-6">
        <app-tweet-post></app-tweet-post>
        <br/>
        <app-tweet-list></app-tweet-list>
      </div>

      <div class="col-md-3">
        <app-twitter-search></app-twitter-search>
      </div>
    </div>
    <br/>
  </div>
</main>
