<main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3">
        <div class="container-fluid">
          <app-profile #profile></app-profile>
          <br/>
          <app-followers></app-followers>
          <br/>
        </div>
      </div>

      <div class="col-md-6">
        <app-tweet-post (tweetcreated)="profile.countTweets();tweetlist.refresh()"></app-tweet-post>
        <br/>
        <app-tweet-list #tweetlist></app-tweet-list>
        <br/>
      </div>

      <div class="col-md-3">
        <app-twitter-search (followtwitter)="tweetlist.refresh()"></app-twitter-search>
        <br/>
      </div>
    </div>
    <br/>
  </div>
</main>
